<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<meta charset="UTF-8">
<title>카카오api</title>
<script type="text/javascript">
</script>
</head>
<body>
	<h2>카카오 api로그인</h2>
	<input type="text"><br>
	<a href="https://kauth.kakao.com/oauth/authorize
	?client_id=c26b11a23073db4423168979d90720fc
	&redirect_uri=http://localhost:8080/api/kakaoapi
	&response_type=code">카카오 api로그인</a>
</body>
</html>