<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>컨트롤러 연결</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#loginBtn').on('click', function(e){
			e.preventDefault();
			var id = $('#id').val();
			var passwd = $('#passwd').val();
			if(id == ''){
				alert('ID 입력 해주세요');
				$('#id').focus();
				return;
			}
			else if (passwd == ''){
				alert('비밀번호 입력 해주세요');
				$('#passwd').focus();
				return;
			}
			$.ajax({
				type : 'POST',
				contentType : 'application/json; ',
				crossDomain : true,
				url : '/login',
				data : JSON.stringify({
					id : id,
					passwd : passwd,
				}),
				dataType : 'text',
				success : function(result) {
					console.log(result);
					location.href="/index";
				},
				error : function(result) {
					alert('실패');
					console.log(result);
				}
			});
		});
	});
</script> 
<body>
	<h2>로그인</h2><br>
	<div>
		<label>아이디</label>
		<input type="text" id="id">
		<label>비밀번호</label>
		<input type="password" id="passwd">
		<input type="button" value="로그인" id="loginBtn">
		<button type="button" onclick="location.href='/insertform'">회원가입</button>
	</div>
	<label th:text=${session.SPRING_SECURITY_LAST_EXCEPTION}></label>
</body>
</html>